<!DOCTYPE html>
<html ng-app="ShoppingList">
  <head>
    <meta charset="utf-8">
    <!-- <script src="app.js"></script> -->
    <title>Shopping List With Events</title>
  </head>
  <body>
    <h1>Shopping List Events App</h1>
    <div id="list" ng-controller="ShoppingListController as list">
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="item quantity">
      <button type="button" ng-click="list.addItem();">Add Item</button>
      <shopping-list
         items="list.items"
         my-title="{{list.title}}"
         on-remove="list.removeItem($index)">

      <span>{{list.lastRemoved}}</span>
    </div>
    <loading-spinner></loading-spinner>

    <!-- Libraries -->
    <script src="lib/jquery-3.1.1.min.js"></script>
    <script src="lib/angular.min.js"></script>

    <!-- Modules -->
    <script src="src/spinner/spinner.module.js"></script>
    <script src="src/shoppinglist/shoppinglist.module.js"></script>

    <!-- 'ShoppingList' modules artifacts -->
    <script src="src/shoppinglist/shoppinglist.component.js"></script>
    <script src="src/shoppinglist/shoppinglist.controller.js"></script>
    <script src="src/shoppinglist/shoppinglist.factory.js"></script>
    <script src="src/shoppinglist/weightlossfilterservice.js"></script>

    <!-- 'Spinner' modules artifacts -->
    <script src="src/spinner/loadingspinner.component.js"></script>


  </body>
</html>
